# Environments
.venv/
.env

# Python
__pycache__/
*.pyc
*.egg-info/
build/
dist/

# Caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# OS / editor
.vscode/
.idea/
*.DS_Store

# Notebooks checkpoints
.ipynb_checkpoints/
